# Build output
[Bb]in/
[Oo]bj/
[Dd]ebug/
[Rr]elease/
x64/
x86/
build/

# Logi aplikacji
logs/
*.log

# Visual Studio / Rider / VS Code
.vs/
.vscode/
.idea/
*.user
*.suo
*.userosscache
*.sln.docstates

# NuGet
*.nupkg
packages/
.nuget/

# Pozostałe
*.tmp
*.cache
